.App {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.content {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.text-blurb,
.QOTD {
  border-radius: 33px;
  background: #C8D5BB;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 20px; /* Adjust the margin as needed */
}

.text-blurb {
  width: 40%;
}

.text-blurb p {
  color: #47585C;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0; /* Reset the margin to avoid additional spacing */
}

.QOTD {
  width: 55%;
  height: 100px;
  padding: 10px; /* Adjust the padding as needed */
}


.QOTD h2 {
  color: #47585C;
  font-size: 24px;
  font-style: italic;
  margin: 0; /* Reset the margin to avoid additional spacing */
  padding-left: 10px;
}