.App {
  margin-bottom: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.logo {
  font-size: 40px;
  background-color: greenyellow;
  font-style: italic;
  padding-left: 10px;
}

.togglePage {
  background-color: white;
  text-align: center;
  border-radius: 33px;
  margin-top: 40px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.togglePage ul {
  list-style: none;
}

.togglePage li {
  display: inline-block;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo h1 {
  text-align: center;
  font-size: 64px;
  font-style: normal; 
  font-weight: 600;
  color: #C8D5BB;
  margin-top: 50px;
}

.text-blurb {
  margin-bottom: 100px;
  margin-top: 50px;
  border-radius: 33px;
  padding: 30px;
  background: #C8D5BB;
}


.text-blurb p {
  color: #47585C;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.QOTD {
  border-radius: 33px;
  background: #C8D5BB;
  padding: 10px;
  margin-bottom: 20px;
}

.QOTD h2 {
  color: #47585C;
  text-align: center;
  font-size: 24px;
  font-style: italic;
}